{% extends 'partials/base.html' %}
{% block title %} Grupos  {% endblock %}

{% block content%}
    {% include 'partials/menu.html' %}
        <h1> Seus grupos </h1>
        {% if grupos %}
            <table class="table">
                <thead>
                    <tr>
                      <th scope="col">id grupo </th>
                      <th scope="col">Titulo</th>
                      <th scope="col">descrição </th>
                      <th scope="col">fk_pessoa_id</th>
                      <th scope="col">apagar </th>
                      <th scope="col">Editar </th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for valores_grupos in grupos %}
                        <tr>
                            <td> {{valores_grupos.id}} </td>
                            <td> {{valores_grupos.title}} </td>
                            <td> {{valores_grupos.description}} </td>
                            <td> {{valores_grupos.fk_pessoa_id}} </td>
                            <td> <a href="{% url 'pagina_deletar_grupo' valores_grupos.id %}" title="{{valores_grupos.id}}"> Apagar  </a> </td>
                            <td> <a href="{% url 'pagina_editar_grupo' valores_grupos.id %}" title="{{valores_grupos.id}}"> Editar  </a> </td>
                        </tr>
                    {% endfor %}
                  </tbody>
            </table>
        {% endif %}
{% endblock %}