
{% block content%}
    <!-- As a link -->

    <section class="mt-2"> 
      <nav class="navbar navbar-light bg-light mb-2">
        {% if user.is_authenticated %}
        <a class="navbar-brand" href="{% url 'form_anotacoes' %}">Criar anotação  </a>
        <a class="navbar-brand" href="{% url 'dashboard' %}"> Anotações  </a> 
        <a class="navbar-brand" href="#"> Configurações  </a> 
        <a class="navbar-brand" href="{% url 'logout' %}"> Sair  </a> 
        
        {% else %}
      <a class="navbar-brand" href="{% url 'index' %}">Login </a>
      <a class="navbar-brand" href="{% url 'cadastrar'%}">Criar conta </a>
      {% endif %}
  </nav>
</section>

{% endblock %}