
{% extends 'partials/base.html' %}
{% block title %} Criar Anotação  {% endblock %}




{% block content%}
{% load widget_tweaks %}

    {% include 'partials/menu.html' %}
    <section class="col-8"> 
    <form action="{% url 'atualizar_anotacao' %}" method="POST">
        {% csrf_token %}
        {% for field in form_anotacoes_atualizar %}
        <div class="form-group">
            <label for="{{field.id_for_label}}"> {{field.label}} </label>
            {{field|add_class:'form-control'}}
        </div>
             {%  for error in field.errors %}
                <section class="alert alert-danger mt-2" role="alert">
                    {{ field.errors }}
             </section>
             {% endfor %}
        {% endfor %}

        {% include 'partials/alertas.html' %}
        <input type="text" value="{{id_anotacao}}" name='id_anotacao' readonly>
        <input type="submit" value="editando Anotação" class="btn btn-success mt-2">
    </form>
   
   
</section>

{% endblock %}



<!-- # listings/templates/listings/band_update.html

...
  <h1>Update Band</h1>

  <form action="" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Submit">
 </form>
...

-->