{% extends 'partials/base.html' %}
{% block title %} Login  {% endblock %}




{% block content%}
{% load widget_tweaks %}
    {% include 'partials/menu.html' %}
    <section class="col-8"> 
    <form action="{% url 'logar'%}" method="POST">
        {% csrf_token %}
        {% for field in login_form.visible_fields %}
        <div class="form-group">
            <label for="{{field.id_for_label}}"> {{field.label}} </label>
            {{field|add_class:'form-control'}}
        </div>
             {%  for error in field.errors %}
                <section class="alert alert-danger mt-2" role="alert">
                    {{ field.errors }}
             </section>
             {% endfor %}
        {% endfor %}

        {% include 'partials/alertas.html' %}
        <input type="submit" value="criar conta" class="btn btn-success mt-2">
    </form>
    Não tem conta ? clique  <a href="{% url 'cadastrar' %}"> aqui para criar uma  </a>
</section>

{% endblock %}